body {
    background: url("Assets/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home, #about, #education, #skills {
    color: rgb(255, 255, 255);
    opacity: 100%;
    font-family: 'Press Start 2P';
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}

#home h2 {
    font-size: 28px;
    line-height: 35px;
}

/* #skills p {
    font-size: 18px;
} */

#content {
    color: rgb(255, 255, 255);
    opacity: 100%;
    font-family: 'Press Start 2P';
    line-height: 35px;
    margin-left: 5%;
    margin-right: 5%;
}


@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

@keyframes sections-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#about, #education, #skills, #content {
    animation: sections-fade 2s alternate;
}

#home h2::after {
    content: "a";
    width: 10px;
    height: 20px;
    background: #ffffff;
    display: inline;
    animation: cursor-blink 1.5s steps(2) infinite;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a.active {
  text-decoration: underline;
}

img {
    width:20px;
    height:20px;
}

.hidden {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}