body {
    background-image: url('Assets/back.jpg');
    background-size:cover;
    text-align: left;
    border-right: 10px;
}

#home, #about, #education, #skills {
    color: rgb(255, 255, 255);
    opacity: 100%;
}

footer {
    color: rgb(43, 255, 216);
    position: fixed;
    bottom: 0;
    right: 0;
}

#home, #about, #education, #skills {
    font-family: fixedsys;
    margin-left: 5%;
    margin-right: 5%;
}

#home h2 {
    font-size: xx-large;
}

#skills p {
    font-size: 18px;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

@keyframes sections-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#about, #education, #skills {
    animation: sections-fade 2s alternate;
}

#home h2::after {
    content: "a";
    width: 10px;
    height: 20px;
    background: #ffffff;
    display: inline;
    animation: cursor-blink 1.5s steps(2) infinite;
}

img {
    width:20px;
    height:20px;
}

.hidden {
    display: none;
}